InitStruct/
PostSim/*/
scripts/InitStruct/logFiles/
scripts/SimAnneal/logFiles/
scripts/SimAnneal/FDest/testCases/
scripts/FeatExtEng/NCPac/*mod
scripts/FeatExtEng/NCPac/*xyz
scripts/FeatExtEng/testReg/
