InitStruct/
PostSim/*/
Scripts/InitStruct/logFiles/
Scripts/SimAnneal/logFiles/
Scripts/SimAnneal/FDest/testCases/
Scripts/FeatExtEng/NCPac/*mod
Scripts/FeatExtEng/NCPac/*xyz
Scripts/FeatExtEng/testReg/
